* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/*html,
body {
    overflow-x: hidden;
}
*/
nav {
    width: 100%;
    height: 50px;
    padding-top: 6px;
    /*margin-bottom: auto;*/
    position: fixed; 
    background-color: white;   
}

.nav-logo {
    position: absolute;
    padding-left: 200px;
    /*padding-top: 3px;*/
}

.nav {
    display: inline;
    line-height: 35px;
    padding-left: 40px;
    padding-top: 25px;
}

.right-nav {
    float: right;
    padding-right: 9%;
}

.tuitt-button {
    color: white;
    float: right;
    padding: 7px 30px;
    background: #c2195b;
    border-color: #c2195b;
    border-radius: 25px;
/*    margin-right: 50px;*/
}

#bg-image {
    background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    background-size: 100%;
    height: 60vh;
    width: auto;
    background-position: center;
}

.container {
    padding: 50px 10% 50px 0px;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 60vh;
    width: 100vw;
}

.title,
.subtitle {
    color: white;
    float: right;
    text-align: right;
}

.title {
    font-size: 36px;
    padding-left: 50%;
}

.subtitle {
    padding-left: 63%;
    font-weight: 300;
    font-family: 24px;
}

.apply-button {
    color: white;
    float: right;
    padding: 7px 50px;
    background: #c2195b;
    border-color: #c2195b;
    border-radius: 25px;
    font-weight: 600;
}

.title,
.subtitle,
.apply-button {
    margin-bottom: 20px;
}

.title,
.title-2 {
    font-family: "Zilla Slab";
}

.intro,
.pre-footer {
    text-align: center;
}

.intro-description,
.prefooter-description {
    text-align: justify;
    text-align-last: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 90px;
}

.intro,
.title-2 {
    padding: 45px 0px;
}

.pre-footer {
    background-color: #f7fbfb;
}

.prefooter-description {
    padding-bottom: 30px;
}

.book-button {
    color: white;
    padding: 7px 50px;
    background: #336589;
    border-color: #336589;
    border-radius: 25px;
    margin-bottom: 60px;
}

footer {
    margin: 20px;
    text-align: center;
}

.title-2 {
    padding-bottom: 90px;
}+